extends ../layout

block assets
    link(rel='stylesheet' href='/stylesheets/pages/generic.css')

block style
    style.
        .links-container {
            column-gap: 20px;
            display: flex;
        }

block content
    .plrt16
        h1 Admin Portal

        .spacer.v20

        .links-container
            a.primary(href='/admin/create-order') Create Order
            a.primary(href='/admin/general') General
            a.primary(href='/admin/orders') Orders
            a.primary(href='/admin/tabs') Tabs
            a.primary(href='/admin/users') Users