@import "../global";

.view {
    align-items: center;
    display: flex;
    height: calc(100vh - $header-height);
    justify-content: center;

    .box {
        align-items: center;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        padding: 32px;
        width: 350px;

        .amount-container {
            align-items: center;
            display: flex;
            justify-content: center;
            position: relative;
            width: 150px;

            button {
                font-size: 20px;
                height: 30px;
                width: 30px;
            }

            #amount-decrease {
                left: 0;
                position: absolute;
            }

            #amount-increase {
                position: absolute;
                right: 0;
            }
        }

        .info {
            font-size: 12px;
            text-align: center;
        }
    }
}