@import "../global";

.view {
    align-items: center;
    display: flex;
    height: calc(100vh - $header-height);
    justify-content: center;

    .box {
        align-items: center;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        padding: 32px;
        min-width: 350px;
    }
}