@import "../global";

.inputs {

    input,
    select {
        padding: 4px;
        width: 200px;
    }
}

.phone-number-info {
    font-size: 14px;
}

#info.error {
    color: $color-error;
}

#save {
    width: 100px;
}