@import "../global";

.inventory {
    background-color: $color-tertiary-400;
    box-shadow: 0 0 4px 4px rgb(0, 0, 0, 0.2);
    z-index: 10;

    .item {
        border: 2px solid black;
        border-radius: 2px;
        // cursor: grab;
        display: inline-block;
        background-color: rgb(255, 255, 255, 0.5);
        height: 80px;
        padding: 4px;
        position: relative;
        vertical-align: top;
        width: 80px;

        img {
            height: 100%;
            width: 100%;
        }

        p {
            bottom: 0;
            font-weight: 700;
            position: absolute;
            right: 5px;
        }
    }

    #items {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding: 8px;
    }
}

.view {
    display: grid;
    grid-template-columns: 1fr 400px;
    height: calc(100vh - $header-height);
}

#pets-container {
    background-color: rgb(100, 100, 100);
    overflow: hidden;
    position: relative;

    &.dropzone-hover {
        background-color: rgb(150, 150, 150);
    }

    .pet {
        height: 100px;
        width: 100px;
        position: absolute;
    }

    .pixel-art {
        display: flex;
        flex-wrap: wrap;
    }
}