@import "../global";

.inventory {
    background-color: $color-tertiary-400;
    box-shadow: 0 0 4px 4px rgb(0, 0, 0, 0.2);
    z-index: 10;

    .details {
        align-items: center;
        display: flex;
        padding: 16px 32px;

        div {
            width: 100%;
        }

        img {
            height: 80px;
            margin-right: 20px;
            width: 80px;
        }

        meter {
            width: 100%;
        }
    }

    #items {
        background-color: rgb(255, 255, 255, 0.15);
        border-bottom: 2px solid black;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding: 16px;

        .item {
            border: 2px solid black;
            border-radius: 2px;
            display: inline-block;
            background-color: rgb(255, 255, 255, 0.5);
            height: 80px;
            padding: 4px;
            position: relative;
            vertical-align: top;
            width: 80px;

            img {
                cursor: grab;
                height: 100%;
                width: 100%;
            }

            p {
                bottom: 0;
                font-weight: 700;
                position: absolute;
                right: 5px;
            }
        }
    }
}

.view {
    display: grid;
    grid-template-columns: 1fr 300px;
    height: calc(100vh - $header-height);
}

#pets-container {
    background-color: rgb(100, 100, 100);
    overflow: hidden;
    position: relative;

    &.dropzone-hover {
        background-color: rgb(150, 150, 150);
    }

    .pet {
        height: 100px;
        width: 100px;
        position: absolute;

        &.food-hover::before {
            content: '';
            background-color: rgb(255, 255, 255, 0.2);
            height: 100%;
            position: absolute;
            width: 100%;
        }

        &.full-grown:hover::before {
            cursor: pointer;
            content: '';
            background-color: rgb(255, 255, 255, 0.2);
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }

    .pixel-art {
        display: flex;
        flex-wrap: wrap;
    }
}