@import "../global";

$item-container-margin: 32px;
$item-gap: 64px;

@mixin card($color-card, $color-price) {
    background-color: $color-card;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 480px;
    padding: 32px;
    position: relative;
    text-align: center;
    width: 300px;

    a {
        margin-top: 40px;
    }

    img {
        display: block;
        margin: 20px 0 0 10%;
        width: 80%;
    }

    .price {
        color: $color-price;
        font-weight: 700;
        margin-top: 20px;
    }
}

.section-a {
    background-color: $color-tertiary-400;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
    display: grid;
    min-height: 500px;
    position: relative;

    img {
        display: block;
        height: 250px;
    }

    @media screen and (min-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 850px) {
        img {
            height: 450px;
        }
    }

    .subsection-a {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .subsection-b {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-right: 16px;
    }
}

.section-b,
.section-c,
.section-d {
    display: flex;
    flex-wrap: wrap;
    gap: $item-gap;
    justify-content: center;
    padding: $item-gap $item-container-margin;
}

.section-b,
.section-d {
    .item {
        @include card($color-tertiary-400, white);
    }
}

.section-c {
    background-color: $color-tertiary-400;
    box-shadow: 0 0 8px 4px rgb(0, 0, 0, 0.3);

    .item {
        @include card(white, $color-tertiary-400);
    }
}

.section-yoco {
    border: 5px solid $color-yoco-blue;
    border-radius: 4px;
    display: grid;
    gap: 20px;
    justify-items: center;
    margin: 10px;
    padding: 16px;
    text-align: center;

    @media screen and (min-width: 700px) {
        grid-template-columns: 1fr 2fr;
        justify-items: initial;
        text-align: start;
    }

    .subsection-a img {
        cursor: pointer;
        display: block;
        height: 100px;
    }

    .subsection-b {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}