@import "../global";

$breakpoint-a: 700px;
$breakpoint-b: 1300px;
$general-gap: 32px;

@mixin card($color-card, $color-price) {
    background-color: $color-card;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 480px;
    padding: 32px;
    position: relative;
    text-align: center;
    width: 300px;

    img {
        width: 100%;
    }

    .price {
        color: $color-price;
        font-weight: 700;
        margin-top: 20px;
    }
}

.section-a {
    background-color: $color-tertiary-400;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(80vh - $header-height);
    position: relative;

    .subsection-a {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .subsection-b {
        align-items: center;
        display: flex;
        justify-content: center;

        .img-div {
            aspect-ratio: 1 / 1;
            background-image: url('../../assets/shop/fudge-jar.png');
            background-size: cover;
            display: inline-block;
            height: 100%;
        }
    }
}

.section-b {
    display: flex;
    flex-wrap: wrap;
    gap: $general-gap;
    justify-content: center;
    padding: $general-gap;

    .item {
        @include card($color-tertiary-400, white);
    }
}

.section-c {
    background-color: $color-tertiary-400;
    box-shadow: 0 -4px 8px rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;

    .items {
        padding: $general-gap;

        .eggs {
            display: flex;
            flex-wrap: wrap;
            gap: $general-gap;
            justify-content: center;
        }

        .food {
            display: flex;
            flex-wrap: wrap;
            gap: $general-gap;
            justify-content: center;
        }

        .item {
            @include card(white, $color-primary-400);
        }

        .line {
            border-top: 2px solid rgb(0, 0, 0, 0.5);
            margin: $general-gap 0 $general-gap 10%;
            width: 80%;
        }
    }
}

.section-yoco {
    border: 5px solid $color-yoco-blue;
    border-radius: 4px;
    display: grid;
    gap: 40px 20px;
    justify-items: center;
    margin: 10px;
    padding: 16px;
    text-align: center;

    @media screen and (min-width: 700px) {
        grid-template-columns: 1fr 2fr;
        justify-items: initial;
        text-align: start;
    }

    .subsection-a img {
        cursor: pointer;
        display: block;
        height: 100px;
    }

    .subsection-b {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}