extends layout

block assets
    link(rel='stylesheet' href='/stylesheets/pages/home.css')
    script(src='/javascripts/pages/home.js')

block content
    .section-a
        .subsection-a
            .overlay
                h1 Simply Fudged
                .spacer.v20
                .row
                    p Making your day sweeter.
                    img.waving-dog(src='/assets/logos/waving-dog.png')

        .subsection-b
            h1 Shop

            #shop-items
                #viewport
                    .item
                        h2 Packet
                        .parts
                            img(src='/assets/products/packets-front.png')
                            .desc
                                p Sweet Snack
                                a.primary(href='/shop') Shop
                    .item
                        h2 Jar
                        .parts
                            img(src='/assets/products/jar-with-label.png' style='position: relative; top: -10px')
                            .desc
                                p Great Gift
                                a.primary(href='/shop') Shop
                    .item
                        h2 Batch
                        .parts
                            img(src='/assets/products/batch.png' style='margin-top: 25px')
                            .desc
                                p Sugar Rush
                                a.primary(href='/shop') Shop
                    .item
                        h2 Bulk
                        .parts(style='margin-top: 0')
                            img(src='/assets/products/group.png' style='position: relative; top: 5px')
                            .desc(style='margin-top: 20px')
                                p Custom Needs
                                a.primary(href='/shop') Shop
                    .item
                        h2 Eggs
                        .parts
                            img(src='/assets/placeholder.png' style='position: relative; top: 5px')
                            .desc
                                p Grow Dogs
                                a.primary(href='/shop') Shop

            button#free-scroll-button Earn Free Fudge!

    .section-notice
        h2 Development Notice

        .spacer.v20

        p.
            While this website is fully functional and purchases can be made, certain features - such as the pets feature - are still being developed.
            For example, images in the shop still need to be replaced so that placeholders are not used.

    .section-b
        h1 #{massSold}kg Fudge Sold
        p.limit-width Our fudge is the favourite of many people, making them always come back for more.

    #free-scroll-target.section-c
        .spacer.v40

        h1 Earn Free Fudge

        .spacer.v20

        .subsection-container
            .subsection-a
                p.
                    Every time you purchase fudge, you are rewarded with grams equivalent to the total weight of fudge bought.
                    You can use these grams to purchase eggs and hatch your own puppies (yes, dogs come from eggs).
                    Grow your puppies using dog food and earn free fudge for every fully grown dog!
            .subsection-b
                div
    
    .section-footer
        a(href='/privacy-policy') Privacy Policy
        p &copy 2024 <a href='/'>Simply Fudge</a>