extends layout

block assets
    link(rel='stylesheet' href='/stylesheets/pages/home.css')
    script(src='/javascripts/pages/home.js')

block content
    .section-top
        .subsection-a
            .overlay
                h1.margarine-regular Simply Fudged
                .spacer.v20
                .row
                    p.chilanka-regular Making your day sweeter.
                    img.waving-dog(src='/assets/logos/waving-dog.png')

        .subsection-b
            h1 Shop

            #shop-items
                #viewport
                    .item
                        h2 Packet
                        .parts
                            img(src='/assets/products/packets-front.png')
                            .desc
                                p Sweet Snack
                                a.primary(href='/shop') Shop
                    .item
                        h2 Jar
                        .parts
                            img(src='/assets/products/jar-with-label.png' style='position: relative; top: -10px')
                            .desc
                                p Great Gift
                                a.primary(href='/shop') Shop
                    .item
                        h2 Batch
                        .parts
                            img(src='/assets/products/batch.png' style='margin-top: 25px')
                            .desc
                                p Sugar Rush
                                a.primary(href='/shop') Shop
                    .item
                        h2 Bulk
                        .parts(style='margin-top: 0')
                            img(src='/assets/products/group.png' style='position: relative; top: 5px')
                            .desc(style='margin-top: 20px')
                                p Custom Needs
                                a.primary(href='/shop') Shop
                    //- .item
                        h2 Eggs
                        .parts
                            img(src='/assets/placeholder.png' style='position: relative; top: 5px')
                            .desc
                                p Grow Dogs
                                a.primary(href='/shop') Shop

            button#free-scroll-button.invisible Earn Free Fudge!

    .section-mass
        h1 #{massSold}kg Fudge Sold
        p.limit-width Our fudge is the favourite of many, making people always come back for more.

    //- #free-scroll-target.section-free
        .spacer.v40

        h1 Earn Free Fudge

        .spacer.v20

        .subsection-container
            .subsection-a
                p.
                    Every time you purchase fudge, you are rewarded with a special currency, called Gramz (gz), equivalent to the total weight of fudge bought
                    (e.g. if you buy a 50g packet, you earn 50 Gramz - the speical currency on this website).
                    You can use Gramz to purchase eggs and hatch your own puppies (yes, dogs come from eggs here).
                    Grow your puppies using dog food and earn free fudge for every fully grown dog!
            .subsection-b
                //- img
                h3 This Feature Is Still Being Developed!
                p ...but you can earn Gramz in the meantime ;)