extends layout

block assets
    link(rel='stylesheet' href='/stylesheets/pages/shop.css')

block content
    .section-a
        .subsection-a
            h1 Jar

            .spacer.v20

            p The perfect gift for anyone.

            .spacer.v20

            a.primary(href='/checkout/jar') Purchase
        .subsection-b
            img(src='/assets/shop/fudge-jar.png')
    
    .section-yoco
        .subsection-a
            img(src='/assets/logos/yoco.svg' onclick='window.open("https://yoco.com"), "_blank"')
        .subsection-b
            h2 Powered By Yoco
            p All payments are made through Yoco, ensuring the security of your payment details.

    .section-b
        .item
            h1 Packet
            p.description 50g
            p.price R12 / item
            img(src='/assets/shop/egg-blue.png')
            a.primary(href='/checkout/packet') Purchase
        .item
            h1 Jar
            p.description 800g
            p.price R12 / item
            img(src='/assets/shop/egg-blue.png')
            a.primary(href='/checkout/jar') Purchase
        .item
            h1 Batch
            p.description 1200g
            p.price R12 / item
            img(src='/assets/shop/egg-blue.png')
            a.primary(href='/checkout/batch') Purchase
        .item
            h1 Bulk
            p.description Custom Amount
            p.price Price To Be Determined
            img(src='/assets/shop/egg-blue.png')
            a.primary Purchase

    .section-c
        .item
            h2 Brown Egg
            p Hatches a brown dog.
            p.price 150g
            img(src='/assets/inventory/brown-egg.png')
            a.primary(href='/item/brownEgg') Purchase
        .item
            h2 White Egg
            p Hatches a white dog.
            p.price 150g
            img(src='/assets/inventory/white-egg.png')
            a.primary(href='/item/whiteEgg') Purchase

    .section-d
        .item
            h2 Basic Dog Food
            p.description Cheap dog food which grows a dog a little bit. (10kg)
            p.price 35g
            img(src='/assets/shop/egg-blue.png')
            a.primary Purchase
        .item
            h2 Buffed Dog Food
            p.description Grows a dog a bit more than the cheap stuff. (20kg)
            p.price 65g
            img(src='/assets/shop/egg-blue.png')
            a.primary Purchase
        .item
            h2 Prime Dog Food
            p.description Is this stuff even worth the price? (30kg)
            p.price 95g
            img(src='/assets/shop/egg-blue.png')
            a.primary Purchase