extends ../layout

block assets
    link(rel='stylesheet' href='/stylesheets/pages/generic.css')

block content
    .plrt16
        h1= status
        p An error occured.

        .spacer.v40

        p=message