.font-large {
    font-family: "Chilanka", cursive;
    font-style: normal;
    font-weight: 400;
}

.font-small {
    font-family: "Margarine", sans-serif;
    font-style: normal;
    font-weight: 400;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "Chilanka", cursive;
    font-style: normal;
    font-weight: 900;
}

p {
    font-family: "Margarine", sans-serif;
    font-style: normal;
    font-weight: 400;
}