$color-primary-300: rgb(247, 211, 12);
$color-primary-400: rgb(241, 209, 27);
$color-primary-400-active: rgb(247, 211, 12);
$color-primary-400-hover: rgb(228, 197, 23);
$color-primary-500: rgb(228, 197, 23);
$color-primary-600: rgb(158, 142, 50);
$color-primary-800: rgb(133, 117, 29);

$color-secondary-400: rgb(172, 103, 14);
$color-secondary-400-hover: rgb(190, 114, 15);

$color-tertiary-400: rgb(187, 142, 100);
$color-tertiary-500: rgb(168, 125, 84);
$color-tertiary-800: rgb(105, 73, 42);

$color-black-hover: rgb(50, 50, 50);
$color-white-hover: rgb(230, 230, 230);

$color-error: rgb(165, 42, 42);
$color-gold: gold;
$color-success: rgb(40, 167, 69);
$color-yoco-blue: rgb(0 169 224);